@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><a href="/Transaction">Transaction</a></p>
    <p><a href="/Account">Account</a></p>
    <p><a href="/User">User</a></p>
    <p><a href="/Category">Category</a></p>
    <p><a href="/Budget">Budget</a></p>
    <p><a href="/Notepad">Notepad</a></p>

</div>
