@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <div class="list-group">
            <a href="/Transaction/AdminIndex" class="list-group-item list-group-item-action">Transaction</a>
            <a href="/TransactionBetweenAccounts/AdminIndex" class="list-group-item list-group-item-action">Transaction Between Accounts</a>
            <a href="/Account/AdminIndex" class="list-group-item list-group-item-action">Account</a>
            <a href="/Category/AdminIndex" class="list-group-item list-group-item-action">Category</a>
            <a href="/CurrencyRate" class="list-group-item list-group-item-action">Currency Rate</a>
            <a href="/SourceOfIncome/AdminIndex" class="list-group-item list-group-item-action">Source of Income</a>
            <a href="/Event/AdminIndex" class="list-group-item list-group-item-action">Event</a>
            <a href="/ReccuringPayment/AdminIndex" class="list-group-item list-group-item-action">Reccuring Payment</a>
        </div>
    </div>
</div>

<p></p>

<head>
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.13/index.global.min.js'></script>
    <script>
        //DOMContentLoaded to zdarzenie ktore jest wywolywane gdy poczatkowy dokument HTML zostanie calkowicie zaladowany
        document.addEventListener('DOMContentLoaded', function () {
            //znajduje element HTML z id calendar
            var calendarEl = document.getElementById('calendar');

            //nowa instancja kalendarza FullCalendar i przypisanie do calendarEl
            var calendar = new FullCalendar.Calendar(calendarEl, {

                //widok kalendarza na siatke miesieczna
                initialView: 'dayGridMonth',

                //endpoint z ktorego kalendarz pobiera wydarzenia
                events: '/Event/GetEvents',

                //dateclick poniekad nie uzywamy bo tylko zczytujemy z jsona to co uzytkownik stworzyl recznie
                dateClick: function (info) {
                    //var title = prompt('Enter Event Title:');
                    //var startDate = info.dateStr;

                    //nowa wartosc ktora zostanie wyswietlona w kalendarzu
                    if (title) {
                        var eventData = {
                            title: title,
                            start: startDate
                        };

                        //pobranie wartosci stworzonych z JSON, fetch (wykonywanie żądań HTML)
                        fetch('/Event/CreateEvent', {
                            method: 'POST',
                            headers: {
                                //dane wysyłane w ciele żądania są w formacie JSON. Serwer używa tego nagłówka do rozpoznania typu danych w ciele żądania
                                'Content-Type': 'application/json'
                            },

                            //body zawiera dane ktore maja byc wyslane do serwera

                            body: JSON.stringify(eventData)
                        })
                            .then(response => response.json())
                            .then(data => {
                                //dodanie wydarzenia do kalendarza
                                if (data.id) {
                                    calendar.addEvent({
                                        id: data.id,
                                        title: data.title,
                                        start: data.start
                                    });
                                } else {
                                    alert('Failed to create event');
                                }
                            });
                    }
                }
            });
            calendar.render();
        });
    </script>
</head>
<body>
    <div id='calendar'></div>
</body>

<style>
    .list-group-item {
        font-size: 1.2rem;
    }

        .list-group-item:hover {
            background-color: #f8f9fa;
            color: #0056b3;
        }
</style>
