@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <div class="list-group">
            <a href="/User" class="list-group-item list-group-item-action">DB Users</a>
            <a href="/Transaction/AdminIndex" class="list-group-item list-group-item-action">DB Transactions</a>
            <a href="/TransactionBetweenAccounts/AdminIndex" class="list-group-item list-group-item-action">DB Transaction Between Accounts</a>
            <a href="/Account/AdminIndex" class="list-group-item list-group-item-action">DB Accounts</a>
            <a href="/Category/AdminIndex" class="list-group-item list-group-item-action">DB Category</a>
            <a href="/CurrencyRate" class="list-group-item list-group-item-action">Currency Rate</a>
            <a href="/SourceOfIncome/AdminIndex" class="list-group-item list-group-item-action">DB Source of Income</a>
        </div>
    </div>
</div>

<style>
    .list-group-item {
        font-size: 1.2rem;
    }

        .list-group-item:hover {
            background-color: #f8f9fa;
            color: #0056b3;
        }
</style>
