@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<img src="https://media.tenor.com/tCL3HGcaV4UAAAAM/raccoon-dance.gif">
