@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<img src="https://wykop.pl/cdn/c3201142/comment_1634460239pkvKRxSWYiQj3ResaV4rWo,w400.jpg">
