@model HomeBudget.Models.SourceOfIncome

@{
    ViewData["Title"] = "Edit source";
}

<h1>Edit</h1>

<h4>Source of income</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractType" class="control-label">Contract Type</label>
                <select asp-for="ContractType" class="form-control" asp-items="ViewBag.ContractType"></select>
                <span asp-validation-for="ContractType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaryType" class="control-label">Salary Type</label>
                <select asp-for="SalaryType" class="form-control" asp-items="ViewBag.SalaryType"></select>
                <span asp-validation-for="SalaryType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VAT" class="control-label">VAT (%)</label>
                <input asp-for="VAT" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="VAT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HealthInsuranceType" class="control-label">Health Insurance</label>
                <select asp-for="HealthInsuranceType" class="form-control" asp-items="ViewBag.HealthInsuranceType"></select>
                <span asp-validation-for="HealthInsuranceType" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
