html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
}

.white-theme {
    background: linear-gradient(to bottom right, #ffffff, #ffff);
    color: #000;
}

.dark-theme {
    background: linear-gradient(to bottom, #222 0%, #000 100%);
    color: #fff;
}

/* Stylowanie elementów po aktywacji */
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb; /* Cieñ przy fokusowaniu */
}

/* Stylowanie tabeli DataTable dla ciemnego motywu */
.dark-theme .dataTables_wrapper {
    color: #fff;
    background: linear-gradient(to upper, #444 0%, #222 100%);
}

/* Stylowanie paginacji DataTable dla ciemnego motywu */
.dark-theme .dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #fff;
    background-color: #666;
}

/* Aktualnie zaznaczona strona w paginacji */
.dark-theme .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dark-theme .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #000 !important;
    background-color: #fff !important;
}

/*styl wszystkich info*/
.dark-theme .dataTables_wrapper .dataTables_length label,
.dark-theme .dataTables_wrapper .dataTables_filter label,
.dark-theme .dataTables_wrapper .dataTables_info {
    color: #fff;
}

.dark-theme .dataTables_wrapper .dataTables_length select,
.dark-theme .dataTables_wrapper .dataTables_filter input {
    color: #fff; 
    background-color: #666;
    border: 1px solid #fff;
}

/*opcje select i input*/
.dark-theme .dataTables_wrapper .dataTables_length select option,
.dark-theme .dataTables_wrapper .dataTables_filter input {
    color: #000;
    background-color: #fff;
}

/*wiersze tabeli*/
.dark-theme table.dataTable tbody tr {
    background-color: #666;
    color: #fff;
}

/*naglowek tabeli*/
.dark-theme table.dataTable thead {
    background-color: #555;
    color: #fff;
}

/* Stylowanie stopki tabeli dla ciemnego motywu */
.dark-theme table.dataTable tfoot {
    background-color: #555;
    color: #fff;
}

/*styl przyciskow*/
.btn-primary, .btn-success, .btn-danger, .btn-info {
    border-radius: 50px;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

/*normalne create*/
.btn-primary {
    background-color: #007bff;
    border: none;
}

/*create w indexie*/
.btn-success {
    background-color: #28a745;
    border: none;
}

/*delete*/
.btn-danger {
    background-color: #dc3545;
    border: none;
}

/*details*/
.btn-info {
    background-color: #17a2b8;
    border: none;
}

/*zamiana koloru po najechaniu myszka*/
.btn:hover, .btn:focus {
    opacity: 0.85; /* przezroczystosc */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); /* cien */
}

/*styl przyciskow od theme*/
.theme-toggle-btn {
    margin-left: 0.5rem;
}

/*wielkosc zdjecia*/
.limited-size {
    max-width: 100px;
    max-height: 100px;
}

/*pasek progresu budzetu*/
.progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar {
    height: 20px;
    border-radius: 5px;
    text-align: center;
    color: white;
    line-height: 20px;
    transition: width 0.5s;
}

.progress-bar.high {
    background-color: #ff4d4d;
}

.progress-bar.medium {
    background-color: #ffcc00;
}

.progress-bar.low {
    background-color: #4caf50;
}

.custom-card {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid; /* Dodajemy obwódkê */
    transition: border-color 0.3s; /* Dodajemy p³ynne przejœcie koloru */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

    .custom-card.dark-theme {
        border-color: #222; /* Kolor obwódki dla motywu ciemnego */
    }

    .custom-card.white-theme {
        border-color: #fff; /* Kolor obwódki dla motywu jasnego */
    }

.custom-card-title {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.custom-dt {
    font-weight: bold;
}

.custom-buttons {
    margin-top: 20px;
}

#calendar {
    max-width: 1500px;
    margin: 0 auto;
    max-height: 800px;
}

/*specjalne tlo wykresow*/
.special-background {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    color: #000; 
    margin-bottom: 20px; 
}

.dark-theme .special-background {
    background-color: #444; 
    color: #fff; 
}

/*tabela w ciemnym motywie*/
.dark-theme table.table-striped tbody tr:nth-child(odd) {
    background-color: #333; 
    color: #ddd; 
}

.dark-theme table.table-striped tbody tr:nth-child(even) {
    background-color: #2f2f2f;
    color: #ddd;
}

.dark-theme table.table-striped thead {
    background-color: #444; 
    color: #ddd; 
}

.financial-summary p {
    font-size: 1.2em; /* Adjust font size as needed */
    font-weight: bold; /* Make the text bold */
    margin-bottom: 10px; /* Add some space below each paragraph */
}
