@model HomeBudget.Models.Category

@{
    ViewData["Title"] = "Create new category";
}

<h1>Create</h1>

<h1 class="display-4">Category</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="margin-bottom: 20px">
                <label asp-for="CategoryName" class="control-label" >Name</label>
                <input asp-for="CategoryName" class="form-control" placeholder="Enter category name" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 20px">
                <label asp-for="Icon" class="control-label" >Icon</label>
                <div>
                    <select asp-for="Icon" class="form-control" id="iconSelect">
                        <option value="">Select Icon</option>
                        <option value="&#127881" style="font-size: 35px;">&#127881</option> <!-- party -->
                        <option value="&#x1F3E0" style="font-size: 35px;">&#x1F3E0</option> <!-- dom -->
                        <option value="&#x1F3C4" style="font-size: 35px;">&#x1F3C4;</option> <!-- wakacje -->
                        <option value="&#x1F6CD;&#xFE0F" style="font-size: 35px;">&#x1F6CD;&#xFE0F</option> <!-- zakupy -->
                        <option value="&#x1F354" style="font-size: 35px;">&#x1F354</option> <!-- jedzenie -->
                        <option value="&#128736;&#65039" style="font-size: 35px;">&#128736;&#65039</option> <!-- praca -->
                        <option value="&#127873" style="font-size: 35px;">&#127873</option> <!-- prezent -->
                        <option value="&#128663" style="font-size: 35px;">&#128663</option> <!-- samochod -->
                        <option value="&#128170" style="font-size: 35px;">&#128170</option> <!-- trening -->
                        <option value="&#128684" style="font-size: 35px;">&#128684</option> <!-- uzywki -->
                        <option value="&#128200" style="font-size: 35px;">&#128200</option> <!-- diagram -->
                        <option value="&#127918" style="font-size: 35px;">&#127918</option> <!-- kontroler -->
                        <option value="&#10068" style="font-size: 35px;">&#10068</option> <!-- kontroler -->
                    </select>
                    <span asp-validation-for="Icon" class="text-danger" ></span>
                </div>
            </div>
            <div class="form-group " style="margin-bottom: 45px">
                <label asp-for="Type" class="control-label" >Type</label>
                <div>
                    <label class="radio-inline">
                        <input type="radio" asp-for="Type" value="Expense" checked /> Expense
                    </label>
                    <label class="radio-inline">
                        <input type="radio" asp-for="Type" value="Income" /> Income
                    </label>
                </div>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" style="margin-right: 10px; background-color: #28a745;" /> |
                <a asp-action="Index" class="btn btn-secondary" style="margin-left: 10px;">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
